{% extends '_dashboard.html' %}

{% block title %}Clientes | Hermes{% endblock %}

{% block page_title %}Clientes{% endblock %}

{% block head %}
  {{super()}}
  <style>
    .mdl-dialog button:focus {
      outline: 2px ridge lightskyblue;
    }
  </style>
{% endblock head %}

{% block content %}

<a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
  style="position: fixed; bottom: 2rem; right: 2rem;" href="/clients/new">
  <i class="material-icons">add</i>
</a>

{% if message %}
<div class="mdl-grid mdl-layout mdl-shadow--2dp  mdl-color--{{message.color}}">
  <div class="mdl-cell mdl-cell--12-col">
    {{message.text}}
  </div>
</div>

<div class="mdl-cell--1-col" style="height: 32px;"></div>
{% endif %}

<table class="mdl-data-table mdl-shadow--2dp" style="width: 100%">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th class="mdl-data-table__cell--non-numeric">Nome</th>
      <th>Data de criação</th>
      <th>Data da última atualização</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td style="width: 3rem">{{ client.client_id }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ client.name }}</td>
      <td>{{ client.created_at }}</td>
      <td>{{ client.updated_at }}</td>
      <td>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon"
          href="/clients/{{client.client_id}}/edit" style="visibility: hidden;">
          <i class="material-icons">edit</i>
        </a>
        <a class="mdl-button mdl-button--colored mdl-color-text--red mdl-js-button mdl-button--icon remove-action"
          href="/clients/{{client.client_id}}/remove" style="visibility: hidden;">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block footer %}

<dialog class="mdl-dialog dialog-remove-action" style="width: 50rem;">
  <h4 class="mdl-dialog__title" style="font-size: 1.4rem;">Deseja remover esse elemento?</h4>
  <div class="mdl-dialog__content">
    <p>
      Ao realizar esta ação o elemento será removido. Esta ação não poderá ser desfeita.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <form action="#" method="POST" id="remove-form">
      <button type="submit" class="mdl-button mdl-button--colored mdl-color--red mdl-color-text--white">Remover registro</button>
    </form>
    <button type="button" class="mdl-button close">Voltar a lista</button>
  </div>
</dialog>

<script>
  document.querySelectorAll('.mdl-data-table tbody tr').forEach((row) => {
    row.addEventListener('mouseover', (event) => {
      const elms = event.target.closest('tr').querySelectorAll('.mdl-button--icon');
      elms.forEach((elm) => elm.style.visibility = 'visible');
    });
    row.addEventListener('mouseout', (event) => {
      const elms = event.target.closest('tr').querySelectorAll('.mdl-button--icon');
      elms.forEach((elm) => elm.style.visibility = 'hidden');
    });
  });
  document.querySelectorAll('.remove-action').forEach((button) => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      document.querySelector('#remove-form').action = event.target.closest('a').href;

      const dialog = document.querySelector('.dialog-remove-action')
      dialog.showModal()
      dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
      });
    })
  })
</script>
{% endblock footer %}