{% extends '_dashboard.html' %}

{% block title %}{{title}} | Hermes{% endblock %}
{% block page_title %}{{title}}{% endblock %}

{% block head %}
{{ super() }}
<style>
    .page-card {
        min-height: auto;
        width: 100%;
    }

    .hide {
        visibility: hidden;
    }
</style>
{% endblock %}

{% block content %}

<a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
    style="position: fixed; bottom: 2rem; right: 2rem;" href="{{baseUrl}}/new">
    <i class="material-icons">add</i>
</a>

{% if message %}
<div class="mdl-grid mdl-layout mdl-shadow--2dp  mdl-color--{{message.color}}">
    <div class="mdl-cell mdl-cell--12-col">
        {{message.text}}
    </div>
</div>

<div class="mdl-cell--1-col" style="height: 32px;"></div>
{% endif %}

{% if not resources.length %}
<div class="page-card mdl-card mdl-shadow--2dp mdl-grid">
    Nenhum item encontrado.
</div>
{% else %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
    <thead>
        {% for columnKey, columnValue in columns %}
        <th class="{{columnValue[1]}}">{{columnValue[0]}}</th>
        {% endfor %}
        <th></th>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            {% for columnKey, columnValue in columns %}
            <td class="{{columnValue[1]}}">
                {{resource[columnKey]}}
            </td>
            {% endfor %}
            <td>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon action-button hide"
                    href="{{baseUrl}}/{{resource[resourceIdColumn]}}/edit">
                    <i class="material-icons">edit</i>
                </a>
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-button--icon action-button hide mdl-color-text--red remove-action"
                    href="{{baseUrl}}/{{resource[resourceIdColumn]}}/remove">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block footer %}
<dialog class="mdl-dialog dialog-remove-action" style="width: 50rem;">
  <h4 class="mdl-dialog__title" style="font-size: 1.4rem;">Deseja remover esse elemento?</h4>
  <div class="mdl-dialog__content">
    <p>
      Ao realizar esta ação o elemento será removido. Esta ação não poderá ser desfeita.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <form action="#" method="POST" id="remove-form">
      <button type="submit" class="mdl-button mdl-button--colored mdl-color--red mdl-color-text--white">Remover registro</button>
    </form>
    <button type="button" class="mdl-button close">Voltar a lista</button>
  </div>
</dialog>

<script>
    document.querySelectorAll('tbody tr').forEach((row) => {
        row.addEventListener('mouseover', (event) => {
            const actionButtons = event.target.closest('tr').querySelectorAll('.action-button')
            actionButtons.forEach((actionButton) => actionButton.classList.remove('hide'))
        })
        row.addEventListener('mouseout', (event) => {
            const actionButtons = event.target.closest('tr').querySelectorAll('.action-button')
            actionButtons.forEach((actionButton) => actionButton.classList.add('hide'))
        })
    })
    document.querySelectorAll('.remove-action').forEach((button) => {
        button.addEventListener('click', (event) => {
            event.preventDefault()
            document.querySelector('#remove-form').action = event.target.closest('a').href

            const dialog = document.querySelector('.dialog-remove-action')
            dialog.showModal()
            dialog.querySelector('.close').addEventListener('click', function () {
                dialog.close()
            })
        })
    })
</script>
{% endblock %}